#call-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -100;
}

#call-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
