<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <application>

          <service
              android:name="io.getstream.android.push.firebase.ChatFirebaseMessagingService"
              android:exported="false">
              <intent-filter>
                  <action android:name="com.google.firebase.MESSAGING_EVENT" />
              </intent-filter>
              <intent-filter>
                  <action android:name="FCM_PLUGIN_ACTIVITY" />
                  <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
          </service>

        <service
            android:name="ee.forgr.capacitor.streamcall.StreamCallBackgroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
