<ion-header [translucent]="true" *ngIf="!transparent">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end" *ngIf="currentUser">
      <ion-avatar>
        <img [src]="currentUser.imageURL" [alt]="currentUser.name">
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">{{ currentUser.name }}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.transparent]="transparent">
  <ion-header collapse="condense" *ngIf="!transparent">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="magicDiv">
    <div *ngIf="currentUser" class="ion-text-center ion-padding">
      <h2>Logged in as: {{ currentUser.name }}</h2>
      <p>User ID: {{ currentUser.userId }}</p>
    </div>

    <div class="login-buttons">
      <ng-container *ngIf="!currentUser">
        <ion-button (click)="login('user1')">Login as User 1</ion-button>
        <ion-button (click)="login('user2')">Login as User 2</ion-button>
        <ion-button (click)="login('user3')">Login as User 3</ion-button>
        <ion-button (click)="login('user4')">Login as User 4</ion-button>
      </ng-container>
      <ion-button *ngIf="currentUser" (click)="logout()" color="danger">Logout</ion-button>
    </div>

    <div class="call-buttons" *ngIf="currentUser">
      <ion-button *ngIf="currentUser.userId !== 'user1'" (click)="callUser('user1')" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 1
      </ion-button>
      <ion-button *ngIf="currentUser.userId !== 'user2'" (click)="callUser('user2')" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 2
      </ion-button>
      <ion-button *ngIf="currentUser.userId !== 'user3'" (click)="callUser('user3')" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 3
      </ion-button>
      <ion-button *ngIf="currentUser.userId !== 'user4'" (click)="callUser('user4')" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 4
      </ion-button>
    </div>
  </div> 
</ion-content>
