<ion-header [translucent]="true" *ngIf="!transparent">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.transparent]="transparent">
  <ion-header collapse="condense" *ngIf="!transparent">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="magicDiv">
    <div class="login-buttons">
      <ion-button (click)="login('user3')">Login as User 1</ion-button>
      <ion-button (click)="login('user2')">Login as User 2</ion-button>
      <ion-button (click)="logout()" color="danger">Logout</ion-button>
    </div>

    <div class="call-buttons">
      <ion-button (click)="callUser1()" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 1
      </ion-button>
      <ion-button (click)="callUser2()" color="success">
        <ion-icon name="call"></ion-icon>
        Call User 2
      </ion-button>
    </div>
  </div> 
</ion-content>
